:root {
  --white: #ffffff;
  --black: #000000;
  --primary-1: #1abc9c;
  --primary-2: #17a194;
  --primary-back-1: #34495e;
  --primary-back-2: #2c3e50;
  --primary-back-2-04: rgba(46, 62, 80, .4);
  --primary-back-2-08: rgba(46, 62, 80, .8);
  --gray: #888d92;
  --border: #354a70;
  --course-item-background: #0984E3;
  --course-item-background-2: #6C5CE7;
  --course-item-background-3: #E84393;

  --field-background: rgba(44, 62, 80, 0.4);
  --field-background-2: rgba(255,255,255, 0.1);
  --header-chat: #2c3e49;
  --gradient-background: rgb(22,147,133);

  --error: rgb(255, 88, 88);
}
