@import '../assets/scss/helpers';

:host {
  @include host-styles;
}

.backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--black);
  opacity: .7;
}
