<div class="header">
  <div class="header__title">Мои курсы</div>

  <div class="header__search-panel">
    <mat-icon class="header__search-panel-icon">search</mat-icon>
    <input [formControl]="searchControl" class="header__search-panel-field" placeholder="Поиск по курсам..."/>
  </div>

  <div class="header__actions">

    <mat-icon
      class="header__actions-item"
      title="Оповещения"
    >
      notifications
    </mat-icon>

    <mat-icon
      class="header__actions-item"
      title="Создать курс"
      (click)="openCreateCourseDialog()"
    >
      post_add
    </mat-icon>

  </div>
</div>

<ou-course-list [valueToSearch]="valueToSearch"></ou-course-list>
