@import "../../../../../assets/scss/helpers";

:host {
  @include host-styles;

  background-color: var(--primary-back-2);
}

.menu-item-list {
  @include flex(column, $fg: 1);

  .menu-item {
    @include flex($ai: center);
    @include font(16px);

    padding: 15px 30px;
    color: var(--white);
    border-bottom: 1px solid var(--border);
    transition: .25s background-color ease-in-out;

    &__icon {
      @include font(20px);

      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    &.active {
      background-color: var(--primary-1);
    }

    &:hover {
      background-color: var(--primary-1);
    }
  }
}

.logo-wrapper {
  @include flex($ai: center, $jc: center, $fsh: 0);

  img {
    width: 153px;
  }
}
