@import '../../../../../../../assets/scss/helpers';

:host {
  flex-shrink: 0;
  width: 300px;
  border-right: 1px solid var(--black);
}

.search-panel {
  @include flex-center;

  height: 50px;
  background-color: var(--header-chat);

  input {
    width: 260px;
    padding: 5px 10px;
    color: var(--white);
    background-color: var(--field-background-2);
    border: none;
    border-radius: 5px;

    &::placeholder {
      @include font(13px);
    }
  }
}

.chat-list {
  @include flex(column);

  &__item {
    @include flex(row, center);

    cursor: pointer;
    padding: 15px 10px;
  }
}
